html {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
    background-color: black;
    color: white;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    margin: 0;
}

main {
    margin: 9rem 1rem 2rem 1rem;
    display: grid;
    grid-template-areas:
        "title1 title1"
        "pic1 pic2"
        "pic3 pic4"
        "title2 title2"
        "pic5 pic7"
        "pic6 pic7"
        "title3 title3"
        "pic8 pic10"
        "pic9 pic10";
    gap: 10px;
}

a {
    font-size: 2rem;
    text-decoration: none;
    color: red;
    margin: 0 2rem;
}

h2 {
    font-size: 2.5rem;
}

p {
    font-size: 1.2rem;
}

h4 {
    font-size: 1.5rem;
    color: red;
    margin: 0;
}

header {
    position: fixed;
    z-index: 100;
    background-color: black;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 1rem;
    height: 8rem;
    border-bottom: 1px solid red;
}

header nav {
    display: flex;
    text-align: center;
}

h1 {
    line-height: 1.1rem;
    font-size: 3rem;
}

#movie {
    background-color: red;
    color: black;
    padding: .5rem;
}

.one {
    grid-area: title1;
}

.two {
    grid-area: title2;
}

.three {
    grid-area: title3;
}

.pic1 {
    grid-area: pic1;
}

.pic2 {
    grid-area: pic2;
}

.pic3 {
    grid-area: pic3;
}

.pic4 {
    grid-area: pic4;
}

.pic5 {
    grid-area: pic5;
}

.pic6 {
    grid-area: pic6;
}

.pic7 {
    grid-area: pic7;
}

.pic8 {
    grid-area: pic8;
}

.pic9 {
    grid-area: pic9;
}

.pic10 {
    grid-area: pic10;
}

@media only screen and (min-width: 1024px) {
    html {
        font-size: 12px;
    }

    header {
        height: 79px;
        padding-top: 3px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
    }

    main {
        margin: 90px 200px 40px 200px;
        grid-template-areas:
            "title1 title1 title1 title1"
            "pic1 pic2 pic3 pic4"
            "title2 title2 pic8 pic10"
            "pic5 pic7 pic9 pic10"
            "pic6 pic7 title3 title3";
        align-items: center;
    }

    .pic8 {
        margin-top: 20px;
    }

    h4 {
        font-size: 2rem;
    }

    p {
        font-size: 1.5rem;
    }
}